doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul
        li 
          a(href="/users/create") Add user
        li 
          a(href="/users/all") find all user
    block content
