extends ../layout

block content
    form(action="/users",method="post")
        input(type="text",name="username",placeholder="pseudo", required=true)
        input(type="email",name="email",placeholder="Votre email", required=true)
        input(type="password" , name="password", placeholder="Mot de passe",required=true)
        input(type="submit")